<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/style.css">

</head>
<body>
    <header>
        <header>
            <nav>
                <a href="/home">home</a>
                <a href="/my-characters">My characters</a>
    
            </nav>
        </header>
    
    </header>
    <body>
        <h1><%=houseName%></h1>

    <%data.forEach(value=>{%>
        <h1>Name: <%=value.name%></h1>
        <h1>patronus: <%=value.patronus%></h1>
        <h1>Alive: <%=value.alive%></h1>

        <form action="/my-characters" method="post">
        <input type="hidden" name="Name"  value="<%=value.name%>" id="">
        <input type="hidden" name="patronus"  value="<%=value.patronus%>" id="">
        <input type="hidden" name="Alive"  value="<%=value.alive%>" id="">
            <input type="submit" name="add" value="SAVE CHARACHTER TO DATABASE" id="">
        </form>
        <%})%>
    </body>
</body>
</html>